* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'lato', sans-serif;
  }

$colorazul: #091f54;

$colororo: #936a1b;

#barradearriba {
    background-color: colorazul;
  }