$color-borde: #ccc;

.form-group label {
    font-weight: bold;
}

.form-control {
    border-color: $color-borde;

    &:focus {
        border-color: $colorazul;
        box-shadow: none;
    }
}

.btn-primary {
    background-color: $colorazul;
    border-color: $colorazul;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}