.btn {
    background-color: $colororo;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    text-transform: uppercase;

    &:hover {
        background-color: $colororo;
    }
}

.btn-primary {
    background-color: $colororo;
    color: white;
    border-color: $colororo;

    &:hover {
        background-color: $colororo;
        border-color: $colororo;
    }
}